# gitignore - to ignore specified files
*.bk
*.backup
pkg/
build/
autom4te.cache/
config.log
config.status
test/
*.xz
Makefile
src/Makefile
share/Makefile
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt
src/multiprocdow
